*{
    margin: 0;
    padding: 0;
}
.btn-menu{
    display: none;
}
.nav-bar{
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
    
}
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-bar ul li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;;
}

.nav-bar a{
    text-decoration: none;
    padding: 2px 7px 2px 7px;
    margin: 0 80px 0 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
}
.nav-bar a:hover{
    color: white;
}

@media screen and (max-width: 1100px) {
    .nav-bar a{
        margin: 0px 50px 0px 50px;
    }
    
}

@media screen and (max-width: 900px) {
    .btn-menu{
        display: inline;
    }
    .nav-bar a{
        display: flex;
        margin: auto;
    }
    .nav-bar{
        position: absolute;
        top: -200px;
        margin-left: 20px;
        background-color: #D9AFD9;
        background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    }
    .nav-bar.show-menu{
        position: absolute;
        top: 70px;
        position: fixed;
    }
    .header .btn-menu{
        position: fixed;
        top: 20px;
        font-size: 50px;
        color: black;
        background-color: #D9AFD9;
        background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
        width: 100%;
        padding-left: 0;
        padding-top: 0;
        z-index: 1;
    }
    .header .btn-menu a{
        color: black;
    } 
    
}

.header{
    background-image: url("../assets/images/fondo.jpg") ;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-top: 90px;
    padding-left: 20px;
}

.header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
}
@media screen and (max-width: 450px) {
    .header h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 60px;
    }
}
.header p{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin-top: 30px;
}
h2{
    text-align: center;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.products img{
    width: 300px;
    margin: 30px 30px 0 30px;
    border-radius: 10%;
}

.products img:hover{
    opacity: 30%;
}

.products .imagen .titulo{
    margin-left: 30px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .products img{
        width: 200px;
    }
    .products .imagen .titulo{
        font-size: 15px;
    }
}

.contacto{
    margin-top: 30px;
    background-color: #D9AFD9;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    padding: 40px;
    display: flex;
    justify-content: center;

}

.contacto a i{
    margin: 0 70px;
    font-size: 50px;
}
@media screen and (max-width: 470px) {
    .contacto a i{
        margin: 0 20px;
        font-size: 50px;
    }
}

.contacto a i:hover{
    color: white;
}
footer{
    background-color: #D9AFD9;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    font-family: Arial, Helvetica, sans-serif;
    
}
footer p{
    margin-left: 10px;
}





